@import url('https://fonts.googleapis.com/css?family=K2D');
@import url('https://fonts.googleapis.com/css?family=Kanit');
/* =================================== */
/*	Basic Style 
/* =================================== */

:root {
  --green-bg-color:#0eb493;
  --top-bottom-bg-color:#072b07;
  --cream-text-color:#A1FFCE;
  --black-text-color:#000000;
}

html{
  scroll-behavior: smooth !important;
}

body {
    background-color: #fff;
    font-family: 'K2D', sans-serif;
    line-height: 21px;
	   font-size: 13px;
    color: #6a737b;
    width: 100%;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    color: #fff;
	
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: #6CB670;
}

h1, h2, h3,
h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

.btn-secondary{
  border-radius: 2em;
  width: 50%;
  background-color:var(--green-bg-color);
  color: #fff;
}

.btn-secondary:hover{
  color: #fff;
  background-color:#0b7d67;
}
/*Image Slider*/
#image-slider{
  /*background-image: url(../img/banner2.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;*/
  background-color:#000;
}

#image-slider h3{
  color:#fff;
  font-family: 'K2D', sans-serif;
}

/*Header Brand*/
#logo{
  color:#fff;
  font-family: 'K2D';
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}
 
.clear:after {
   clear: both;
}
 
.clear {
   *zoom: 1;
}

span.color {
	color: #0feb9e;
}

body > section,
.footer {
	padding: 0px 0;
}

.sec-title {}

.sec-title h2 {
  color: var(--green-bg-color);
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.sec-sub-title {
	margin: 30px 0 35px;
}

.sec-sub-title p {
	font-weight: 600;
	line-height: 24px;
	font-size: 18px;
	color: #5b646e;
}

.devider {
  margin-top: 30px;
}

.devider i {
  color: #cccccc;
}

.devider:before,
.devider:after {
  content: "______________________";
  color: #e6e8ea;
  position: relative;
  bottom: 6px;
}

.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}

.mb50 {
	margin-bottom: 50px;
}

#preloader {
  background-color: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#preloader > img {
  left: 47%;
  position: absolute;
  top: 48%;
}


/*=========================================
	Header
==========================================*/

#navigation {
  /*background-color: #2f141994;*/
  border: 0 none;
  margin: 0;
  
    -webkit-transition: background-color 800ms linear;
       -moz-transition: background-color 800ms linear;
	    -ms-transition: background-color 800ms linear;
         -o-transition: background-color 800ms linear;
			transition: background-color 800ms linear;
}

.navbar-toggle i {
	color: #fff;
}

.navbar-brand {
  /*padding-top: 13px;*/
}

.navbar-nav li a {
	border-top: 1px solid transparent;
}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
	background-color:transparent;
	border-top: 1px solid var(--green-bg-color);
	color: #fff;
}




/*=========================================
	Slider
==========================================*/
.home-text{
  margin-top:10px;
}

.home-logo{
  margin-top:-30px;
  height:150px;
  width:100px;
}

#slider {
	padding: 0;
}

#slider .carousel-inner .item {
  background-size: cover;
}

.carousel-caption {
  top: 50%;
}

.carousel-caption h2 {
  font-size: 62px;
  font-weight: 300;
}

.carousel-caption h2 span {
  font-weight: 800;
}

.carousel-caption h3 {
  font-size: 48px;
  font-weight: 300;
  margin: 6px 0 20px;
}

.carousel-caption p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.carousel-caption p:before,
.carousel-caption p:after {
color: #0feb9e;
content: "___";
position: relative;
top: -8px;
}

.carousel-caption p:before {
  right: 20px;
}

.carousel-caption p:after {
  left: 20px;
}

.social-links {
  margin-top: 5%;
}

.social-links li {
	display: inline-block;
}

.social-links li a {
  color: rgba(255, 255, 255, 0.3);
  display: block;
  margin: 0 6px;
}

.social-links li a i{
  /*color:var(--green-bg-color);*/
  color: #000;
  font-size: 25px;
}

.social-links li a:hover {
  color: #fff;
}

.carousel-indicators {
  bottom: 10px;
  left: inherit;
  margin: 0;
  right: 30px;
  top: 49%;
  width: 0;
}

.carousel-indicators li {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 8px;
  width: 8px;
}

.carousel-indicators .active {
  height: 8px;
  width: 8px;
}

/*==============================*/
/*========================Know-More-Page==================================*/
 .service-item img{
    border-radius: 80%;
    padding:1px;
    border:none;
    background-color:none;
  }
  .service-item p{
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 4%;
    margin-right:  5%;
    height: 80px;
    width: 500px;
    text-align: center;
  }
  .service-item{
    padding:15px;
  }
  .sec-title{
    padding-top:15px; 
  }
  .sec-title h2{
    font-family: 'Kanit', sans-serif;
  }
  .digital-marketing{
    padding:10px;
  }
  .service-item h3{
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
  }
  .digital-marketing h2,.digital-marketing .service-item h3,.digital-marketing .service-item p{
    color:var(--cream-text-color);
  }

  .development h2,.development .service-item h3,.development .service-item p{
    color:var(--black-text-color);
  }
  .design h2,.design .service-item h3,.design .service-item p{
    color:var(--black-text-color);
  }         
  .testing{
    /*color: #A1FFCE;*/
  }
  .testing h2,h3,p{
    color:var(--cream-text-color);
  }
  #development,#design{
    background: linear-gradient(to bottom, #b2fefa, #0ed2f7);
    padding-bottom: 10px;
  }
  #digital-marketing,#testing{
    background: linear-gradient(to bottom, #141E30,#243B55);
    padding-bottom: 10px;
  }
  a:active,a:focus{
    border:none;
    outline: none;
    outline-style: none;
  }
  a button:active,a button:focus{
    border:none;
    outline: none;
    outline-style: none;
  }
  .image-rd {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      margin: 0 auto;
  }


/*=========================================
	Features
==========================================*/


.services {
  background-color: #f4f7f9;
}

.owl-controls {
  bottom: -45px;
  margin-top: 10px;
  position: relative;
  text-align: center;
}

.owl-controls .owl-page {
  display: inline-block;
}

.owl-controls .owl-page span {
  border: 1px solid #C7CED3;
  border-radius: 20px;
  display: block;
  height: 8px;
  margin: 5px 4px;
  width: 8px;
}

.owl-controls .owl-page.active span {
  background: #062033;
  border: 0;
}

.service-icon {
  border: 1px solid var(--green-bg-color);
  border-radius: 50%;
  color: var(--green-bg-color);
  float: left;
  padding: 10px 13px;
}
.service-desc p{
  margin-bottom: 3%;
  font-size:15px;
  color: #000;
  height: 60px;
}

.service-desc {
  position: relative;
  top: 5px;
  padding: 10px;
}

.service-desc h3 {
  color: #062033;
  font-size: 20px;
  font-weight: bold;
  font-weight: 600;
  margin-bottom: 15px;
}




/*=========================================
	Our Works
==========================================*/

.work-filter {
  margin-bottom: 35px;
}

.work-filter ul li {
    display: inline-block;
}

.work-filter ul li a {
  color: #062033;
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 17px;
  border-radius: 6px;
  text-transform: capitalize;
}

.work-filter ul li a:hover,
.work-filter ul li a.active {
  background-color: var(--green-bg-color);
  border-radius: 6px;
  color: #fff;
  padding: 5px 17px;
}

.mix {
    display: none;
}

.work-item {
    float: left;
    width: 25%;
    position: relative;
    padding: 10px;
}

.work-item > img {
  display: block;
  height: auto;
  max-width: 100%;
}

.overlay {
	background-color: #1c4c4596;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: all 450ms ease-out 0s;	
	   -moz-transition: all 450ms ease-out 0s;
		 -o-transition: all 450ms ease-out 0s;
		    transition: all 450ms ease-out 0s;
		  
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
	   -moz-transform: rotateY(180deg) scale(0.5,0.5);
		-ms-transform: rotateY(180deg) scale(0.5,0.5);
		 -o-transform: rotateY(180deg) scale(0.5,0.5);
			transform: rotateY(180deg) scale(0.5,0.5);
}

.work-item:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.work-item .overlay a {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20%;
  padding: 7px 10px;
}

.work-item .overlay a:hover {
  color: #fff;
}

.work-item .overlay h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 25px 0 8px;
}

.work-item .overlay p {
  font-size: 14px;
  line-height: 24px;
}

.video{
  height:200px;
  max-width: 100%;
}


/*=========================================
	Our Team Member
==========================================*/

.member-thumb {
  width: 273px;
  position: relative;
  padding: 10px;
}

.member-thumb .overlay h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 19px 0;
}

.member-thumb img{
  /*border-radius: 5px 70px 5px;*/
  border-radius: 80%;
}

.member-thumb .overlay {
	font-size: 18px;
	padding: 10px;
	line-height: 20px;
}

.team-member h4 {
  color: #062033;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 75px 0 8px;
}

.member-thumb:hover .overlay {
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=80);
  border-radius: 80%;
	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.team-member:hover h4 {
  color: #fff;
  margin-top: 75px;
}
.team-member:hover span {
  color: #fff;
}
.member-image{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}


/*=========================================
	Some fun facts
==========================================*/

#facts {
	background-image: url("../img/banner1.jpg");
	background-color: rgba(6,32,51,.8);
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
}

.facts .devider:before,
.facts .devider:after {
	color: #737C85;
}

.facts .devider i {
	color: #fff;
}

.parallax-overlay {
	background-color: rgba(6,32,51,.8);
	padding: 70px 0;
}

.counters-item {
  color: #fff;
}

.counters-item i {
  border: 1px solid #737C85;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 120px;
  margin: 0 0 35px;
  padding: 40px 0 0;
  width: 120px;
}

.counters-item strong {
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

.counters-item p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
  text-transform: uppercase;
}


/*=========================================
	Contact Us
==========================================*/

.contact {
	padding-bottom: 0;
}

.contact-address h3 {
  color: #062033;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-address p {
  line-height: 24px;
}

.contact-form {

}

.contact-form h3 {
  color: #062033;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 25px;
}

.contact-form .input-group {
  width: 100%;
}

.contact-form .form-control {
  border-color: -moz-use-text-color -moz-use-text-color #cccccc;
  border-radius: 0;
  border-style: none none solid;
  border-width: 0 0 1px;
  box-shadow: none;
  margin-bottom: 10px;
  background: transparent;
}

.contact-form .input-field {
  width: 48%;
  float: left;
  margin-right: 4%;
}

.contact-form .input-field:last-child {
  margin-right: 0;
}

.contact-form .form-control.error {
border-bottom-color: #c0392b;
}

label.error {
  color: #c0392b;
  font-weight: normal;
  text-transform: capitalize;
}

.contact-form #form-submit {
  background: url("../img/envelop.png") no-repeat scroll 0 15px transparent;
  border: 0 none;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  text-align: right;
  width: 150px;
}

.contact-information{
  font-size: 15px;
  font-weight: ;
}


.footer-social {
  margin-top: 17px;
}

.footer-social li a {
  color: #cdd2d6;
  display: block;
  margin-bottom: 10px;
}

.map {
  width: 100%;
  height: 400px;
}

/*=========================================

	Contact Us
==========================================*/


.footer {
  background-color: #2a1533;
  border-top: 5px solid #062033;
  color: #fff;
}

.footer a:hover {
  color: #062033;
}

.footer h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;
}

.about-us p {
  line-height: 24px;
}

.footer-single .subscribe {
  margin-bottom: 15px;
  position: relative;
}

.subscribe #subscribe {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  height: 40px;
  text-indent: 10px;
  width: 100%;
}

.subscribe #subs {
  background-color: transparent;
  border: 0 none;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 6px;
}

.footer-single {
  line-height: 24px;
}

.footer-single ul {
  }

.footer-single li {
  line-height: 32px;
}

.footer-single p i {
  margin: 0 10px;
}

.credit a {
  color: #062033;
}

.credit a:hover {
  color: #fff;
}

.copyright {
  color: #fff;
  margin-top: 100px;
}

#back-top {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 9;
}

.footer-sec{
  background-color:var(--top-bottom-bg-color) !important;
  text-align: left;
  padding: 20px 0px;
  color: #bababa;
  font-size: 15px;
}

/*Buttons Inside Features*/
.btn-primary{
  border-radius: 2em;
  width: 35%;
}

/*Contact Form*/
#contact{
  background-color: #ffffff;
}

.contact-information p{
  color:#000;
}

.contact-information h3{
  color: var(--green-bg-color);
}
/* Bouncing Loader */
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.text {
  color: #000;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color:#0eb493 ;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
          animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }

  