<section id="contact" class="contact"><br>
			<div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
				<h2>Let’s Discuss</h2>
				<div class="devider"><i class="fa fa-angle-down fa-lg"></i></div>
			</div>
       		<div class="container-fluid">
           <div class="row" style="padding:10px;">
            	<div class="col-md-6 contact-form wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                	<!--Start contact form-->
                	
					<div class="text-center contact-information">
						<h3>Contact Details</h3>
						<p> <i class="fa fa-map-marker hvr-pulse-grow" style="font-size:20px;"></i> <span>ICS ,GMCH Hostel Rd,Ganeshguri, Kachari Basti, Guwahati, Assam 781005</span></p><br>
                		<p> <i class="fa fa-envelope hvr-grow-rotate" style="font-size:20px;"></i> <span>anurag@icsoln.com</span></p><br>
                		<p> <i class="fa fa-phone hvr-grow-rotate" style="font-size:20px;"></i> <span>+91 99571 71355</span></p><br>
					</div>
                    <form action="https://docs.google.com/forms/d/e/1FAIpQLSfliv-rGl9peoXsTsYdQlr24aJ_jJtcp6z-h9zisgkzWspP6w/viewform?usp=sf_link">
                            <div class="col-md-6">
                            	<label style="color:#fff"><b>Full Name</b></label>
                                <input style="color: #000;" class="form-control" name="entry.2005620554" id="name" required="" placeholder="Full Name" type="text">
                            </div>
                            <div class="col-md-6"">
                            	<label style="color:#fff"><b>Email</b></label>
                                <input style="color: #000;" class="form-control" name="entry.1045781291" placeholder="Your Email" required="" type="email">
                            </div>
                            <div class="col-md-6"">
                            	<label style="color:#fff"><b>Mobile Number</b></label>
                                <input style="color: #000;" class="form-control" name="entry.1166974658" minlength="10" maxlength="10" id="mobile" placeholder="Need to contact.." required="" type="text"><br>
                            </div>                            
                            <div class="col-md-6"">
                            	<label style="color:#fff"><b>Message</b></label>
                                <textarea style="color: #000;" class="form-control" name="entry.1065046570" rows="1" placeholder="Write Something.." required=""></textarea>
                            </div>
                            <div class="col-md-12 text-center"><br>
                				<input type="submit"  name="dd" value="Submit" class="btn btn-secondary" style="width:40%;">
	            			</div>
                    </form>
                	<!--/.contact-form-->
            	</div><br>
            	<div class="col-md-6">
            		<div class="wow fadeInRight map-responsive" data-wow-duration="500ms" data-wow-delay="500ms" id="map">
            			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3581.463774026624!2d91.7820694!3d26.1490214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a597bbf50d7c7%3A0x6665d9ad3b7f8243!2sICS!5e0!3m2!1sen!2sin!4v1538571650808" frameborder="0" style="border:0" allowfullscreen></iframe>
            		</div>
            	</div>
		   </div> <!--/.row-->
       </div><br>
	</section>