        <!--Home Slide -->
                <!-- preloader -->
        <div id="preloader">
            <div class="wrap">
                <div class="loading">
                    <div class="bounceball"></div>
                    <div class="text">NOW LOADING</div>
                </div>
            </div>
        </div>
        <!-- end preloader -->
        <section id="slider">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            
                <!-- Indicators bullet -->
                <ol class="carousel-indicators">
                    
                </ol>
                <!-- End Indicators bullet -->              
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    
                    <!-- single slide -->
                    <div id="image-slider" class="item active">
                        <div class="carousel-caption">
                            <!-- <h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated">IC<span> Solutions</span></h2>
                            <h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span>End-to</span>-End  Software Solutions</h3> -->
                            <img src="/img/image-white.png" class="img-fluid home-logo">
                            <p data-wow-duration="1000ms" class="wow slideInRight animated home-text">At <b>ICS</b>, We Innovate, Create and Solve</p>
                            <ul class="social-links text-center">
                                <li><a href="https://www.facebook.com/pg/ICSoln/about/" target="_blank"><i style="" class="fa fa-facebook fa-lg"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end single slide -->
                </div>
                <!-- End Wrapper for slides -->
            </div>
        </section>
